.searchBar {
    padding: 20px;
}
.searchBar input {
    width: 50%;
    height: 35px;
    outline-style: none;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.searchBar input:focus {
    border-color: #66afe9;
    outline: 0;
    /* -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075),
    0 0 8px rgba(102, 175, 233, .6); */
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075),
    0 0 8px rgba(102, 175, 233, .6)
}
@media (max-width: 480px) {
    .searchBar input{
        width: 80%;
    }
}